<img src="https://cdn-images.threadless.com/threadless-media/navigation/sitewide8.jpg?q=85" alt="Free Shipping" class="promo-banner" />

<a ui-sref="catalog">
<img src="https://cdn-media.threadless.com/homely/Mens_desktop_02_1.jpg?w=1880&h=708" alt="" class="shop-section-full-desktop shop-spacing"/>
</a>

<a ui-sref="catalog">
<img src="https://cdn-media.threadless.com/homely/Mens_desktop_04_2.jpg?w=1880&h=708" alt="" class="shop-section-full-desktop shop-spacing"/>
</a>

<a ui-sref="catalog">
<img src="https://cdn-media.threadless.com/homely/Mens_desktop_03_1.jpg?w=1880&h=708" alt="" class="shop-section-full-desktop shop-spacing"/>
</a>

<div class="shop-section-full-desktop shop-spacing">
      <img src="https://cdn-media.threadless.com/homely/Mens_desktop_05.jpg" alt="V-necks" class="shop-section-oneThird-desktop"/>
      <img src="https://cdn-media.threadless.com/homely/Mens_desktop_06_1.jpg" alt="" class="shop-section-twoThird-desktop"/>
</div>

<a ui-sref="catalog">
<img src="https://cdn-media.threadless.com/homely/Mens_desktop_07.jpg?w=1880&h=708" alt="" class="shop-section-full-desktop shop-spacing"/>
</a>

<div class="shop-section-full-desktop shop-spacing">
      <img src="https://cdn-media.threadless.com/homely/Mens_desktop_08.jpg" alt="V-necks" class="shop-section-twoThird-desktop"/>
      <img src="https://cdn-media.threadless.com/homely/Mens_desktop_09_1.jpg" alt="" class="shop-section-oneThird-desktop"/>
</div>

<div class="shop-section-full-desktop shop-spacing">
      <img src="https://cdn-media.threadless.com/homely/Mens_desktop_10.jpg" alt="V-necks" class="shop-section-oneThird-desktop"/>
      <img src="https://cdn-media.threadless.com/homely/Mens_desktop_11.jpg" alt="" class="shop-section-twoThird-desktop"/>
</div>

<div class="promo-banner">

</div>
