<img src="https://cdn-images.threadless.com/threadless-media/navigation/sitewide8.jpg?q=85" alt="Free Shipping" class="promo-banner" />

<a ui-sref="mens">
<img src="https://cdn-media.threadless.com/homely/Shop_desktop_01_1.jpg?w=1880&h=708" alt="" class="shop-section-full-desktop shop-spacing"/>
</a>

<a ui-sref="women"><img src="https://cdn-media.threadless.com/homely/Shop_desktop_02.jpg?w=1880&h=708" alt="" class="shop-section-full-desktop shop-spacing"/></a>

<a ui-sref="mens"><img src="https://cdn-media.threadless.com/homely/Shop_desktop_03_1.jpg?w=1880&h=708" alt="" class="shop-section-full-desktop shop-spacing"/></a>

<a ui-sref="mens"><img src="https://cdn-media.threadless.com/homely/Shop_desktop_04.jpg?w=1880&h=708" alt="" class="shop-section-full-desktop shop-spacing"/></a>

<a ui-sref="mens"><img src="https://cdn-media.threadless.com/homely/Shop_desktop_05.jpg?w=1880&h=708" alt="" class="shop-section-full-desktop shop-spacing"/></a>

<div class="promo-banner">

</div>
