@import url('https://fonts.googleapis.com/css?family=Open+Sans:700,800');
@import url('https://fonts.googleapis.com/css?family=Slabo+27px');

body {
   font-family: 'Open Sans', sans-serif;
   font-weight: 500;
}

a {
   text-decoration: none;
   color: #09f;
}

.banner {
    background: url('../images/banner-bg.png') repeat left top transparent;
    width: 100%;
    height: 62px;
}

.banner-nav-bar {
    height: 100%;
    margin: 0 auto;
    max-width: 940px;
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
}

.banner-img {
    width: 156px;
    margin-right: 40px;
}

.nav-options-one {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 320px;
    font-family: 'Open Sans', sans-serif;
    font-family: "Open Sans", sans-serif;
    font-weight: 800;
    font-size: 20px;
}

.nav-options-one a {
   text-decoration: none;
   color: black;
}

.nav-options-one a:hover {
   text-decoration: none;
   color: #09f;
}

.right-navs {
    margin-left: auto;
    margin-right: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.search {
    width: 100%;
    padding: 0 8px;
    height: 28px;
    border-radius: 7px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px;
    border-style: solid;
    border-color: #CCC;
    margin-right: 10px
}

.search:hover {
    transition: ease-in-out, border-color .2s ease-in-out;
    border-color: black;
}

.search-field {
    width: 45px;
    box-shadow: inset 0 0 0px #000000;
    border: none;
    background-color: none;
    margin-right: 5px;
    outline: none;
}

.search-img {
    height: 15px;
    width: 15px;
}

.nav-icon {
    width: 20px;
}

input[type=text]:focus {
    border-style: none;
    transition: ease-in-out, width .2s ease-in-out;
    width: 150px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    position: absolute;
    top: 100%;
    left: 0;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 25px;
    margin: 2px 8px;
    list-style: none;
    background-color: white;
    border: 1px solid #dadada;
    border-radius: 2px;
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: flex;
    flex-wrap: wrap;
}

.shop {
    left: -194px;
    height: 420px;
    padding-top: 15px;
    top: 35px;
    width: 940px;
}

.shop-section {
   padding: 4px 8px 60px 8px;
   z-index: 12;
}

.shop-section:hover {
    background-color: white;
    border: 1px solid #dadada;
    padding: 3px 7px 60px 7px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    z-index: 200000;
}

.create-section {
   padding: 4px 8px 60px 8px;
}

.create-section:hover {
    background-color: white;
    border: 1px solid #dadada;
    padding: 3px 7px 60px 7px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.dropdown-list-header {
    font-size: 16px;
    margin-top: 3px;
    font-weight: 900;
}

.dropdown-list {
    font-size: 12px;
    margin-top: 6px;
    font-weight: 600;
}

.pink {
    color: #f39;
}

.hover-blue:hover {
   color: #09f;
}

.list {
    margin-right: 30px;
}

sup {
    top: -0.5em;
    color: #f39;
    font-size: 75%;
    position: relative;
    vertical-align: super;
    font-size: smaller;
}

.right-things {
    margin-left: auto;
    margin-right: 0;
    display: flex;
    flex-direction: column;
}

.right-things img {
    max-width: 203px;
    padding-top: 3px;
}

.newsletter {
    border-top: 4px solid #d2d2d2;
    clear: both;
    width: 60%;
    float: left;
    margin-top: 1.7em;
    height: 75px;
    display: flex;
    align-items: center;
}

.nav_app_icons {
    float: left;
    border-top: 4px solid #d2d2d2;
    margin-top: 1.7em;
    width: 40%;
}

.newsletter-text {
   margin-right: 30px;
   width: 200px;
}

.newsletter p {
   padding-top: 4px;
   font-size: 12px;
   font-weight: 400;
}

.newsletter em {
   margin-top: 25px;
   padding-top: 25px;
   font-size: 14px;
   font-weight: 900;
}

.email-container {
       width: 140px;
       padding: 0 8px;
       height: 28px;
       border-radius: 7px;
       background-color: white;
       display: flex;
       align-items: center;
       justify-content: center;
       border: 1px;
       border-style: solid;
       border-color: #CCC;
       margin-right: 10px
}

.email-field {
   width: 120px;
   box-shadow: inset 0 0 0px #000000;
   border: none;
   background-color: none;
   outline: none;
}

.join-button {
   background: #09f;
   border-radius: 5px;
   border: 0;
   color: #fff;
   font-weight: 800;
   font-size: 12px;
   outline: 0;
   padding: 0 10px 0;
   height: 29px;
   text-transform: uppercase;
   -webkit-border-radius: 5px;
   -webkit-transition: all .2s ease-in;
   transition: all .2s ease-in;
   -webkit-appearance: none;
}

.join-button:hover {
   background-color: #3f5baf;
}

.newsletter-form {
   width: 250px;
   display: flex;
   flex-wrap: wrap;
}

.nav_app_icons {
   display: flex;
   justify-content: flex-end;
   align-items: center;
}
.nav_app_icons img {
   width: 45px;
   height: 45px
}

.nav_app_icons a {
   text-decoration: none;
   font-size: 13px;
   font-weight: 500;
   margin-right: 15px;
   margin-left: 7px;
}

.nav_app_icons a:visited {
    color: #09f;
}

.nav_app_icons a:link {
    color: #09f;
}

.dropdown-link {
   color: black;
}

.dropdown-link: hover {
   color: #09f;
}

.particiapte {
   height: auto;
   margin: 0 0 0 -80px;
   width: 300px;
   padding-top: 15px;
   top: 35px;
}

.participate-section:hover {
    background-color: white;
    border: 1px solid #dadada;
    padding: 3px 7px 60px 7px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    z-index: 100;
}

.particiapte-col-one {
   width: 60%;
   margin-right: 5%;
}

.particiapte-col-two {
   width: 30%;
   font-weight: 500;
   font-size: 12px;
}

.particiapte-col-one a {
   text-decoration: none;
   font-size: 16px;
   font-weight: bold;
   margin-left: 7px;
   color: black;
   display: flex;
   margin-bottom: 12px;
}

.particiapte-col-one a:link {
    color: black;
}

.particiapte-col-one a:hover {
    color: #09f;
}

.sm-icons {
   border-top: 1px;
   border-style: solid;
   border-color: #CCC;
   padding-top: 15px;
   margin-top: 18px;
   display: flex;
   justify-content: center;
   flex-wrap: wrap;
   width: 130px;
   margin-bottom: 15px;
}

.sm-icons img {
   width: 30px;
   height: 30px;
}

.icons-row {
   display: flex;
   justify-content: space-between;
   width: 100px;
   margin-bottom: 8px;
}

.grayed {
   color: #999;
}

.blue {
   color: #09f;
   font-weight: 500;
}

.grayed:hover {
   color: #09f;
   text-decoration: underline;
}

.create {
   width: 270px;
   height: auto;
   margin: 0 0 0 -90px;
   padding-top: 15px;
   top: 35px;
}

.bar {
   border-top: 1px;
   border-style: solid;
   border-color: #CCC;
   margin-top: 10px;
   padding-top: 10px;
}

.padded li {
   margin-top: 8px;
}

.create-bold {
   font-size: 16px;
   font-weight: bolder;
}

.bold {
   font-weight: bolder;
}

.footer {
    background-color: #e5e5e5;
    width: 100%;
    height: 452px;
}

.header {
   font-weight: bolder;
   font-family: 'Open Sans', sans-serif;
   font-weight: 900;
   font-size: 17px;
}


.footer-content {
   padding-top: 20px;
   height: 100%;
   margin: 0 auto;
   max-width: 940px;
   position: relative;
   width: 100%;
   display: flex;
   flex-direction: column;
}

.body {
   margin: 0 auto;
   max-width: 940px;
   position: relative;
   width: 100%;
}

.newsletter-form {
   width: 350px;
   display: flex;
   flex-wrap: wrap;
}

.footer-top {
   display: flex;
}

.footer-top-section {
   width: 33%;
}

.footer-top-section p {
   padding-top: 12px;
   font-size: 14px;
   line-height: 20px;
}

.footer-email-container {
       width: 220px;
       padding: 0 8px;
       height: 28px;
       border-radius: 4px;
       background-color: white;
       display: flex;
       align-items: center;
       justify-content: flex-start;
       border: 1px;
       border-style: solid;
       border-color: #CCC;
       margin-right: 10px;
       margin-top: 10px;
}

.newsletter-form-footer  {
   display: flex;
   align-items: flex-end;
   width: 100%;
}

.bar-thick {
   border-top: 4px;
   border-style: solid;
   border-color: #CCC;
   margin-top: 25px;
   padding-top: 18px;
}

.footer-middle {
   display: flex;
   justify-content: space-between;
}

.footer-middle h2 {
   font-size: 14px;
   font-weight: 900;
   font-family: 'Open Sans';
}

.footer-shop {
   width: 20%;
   /*margin-right: 50px;*/
   display: flex;
}

.footer-shop-col {
   width: 50%;
}

.footer-middle a {
   color: #09f;
   font-size: 13px;
   font-weight: 500;
   text-decoration: none;
}

.footer-middle li {
   line-height: 18px;
}

.footer-middle a:hover {
   text-decoration: underline;
}

.black {
   color: black;
}

.footer-participate {
   /*margin-right: 55px;*/
}

.footer-app-col {
   display: flex;
   flex-direction: column;
   align-items: center;
   margin: 10px 25px 0 0;
}

.footer-app-col img {
   width: 80px;
   height: 80px;
}
.footer-app-col p {
   line-height: 25px;
}

.apps-container {
   display: flex;
   flex-wrap: wrap;
}

.footer-row {
   display: flex;
   flex-direction: row;
}

.footer-row img {
   width: 15px;
   height: 15px;
   margin-right: 10px;
}

.footer-row p {
   font-size: 13px;
}

.footer-row a {
   color: #09f;
   text-decoration: none;
}

.tiny {
   margin-top: 4px;
   font-size: 11px;
}
