@import url('https://fonts.googleapis.com/css?family=Open+Sans:700,800,900');



.artist-bar {
   width: 100%;
   display: flex;
   align-items: baseline;
}

.artist-bar h1 {
   font-weight: 900;
   font-size: 20px;
   font-family: 'Open Sans', sans-serif;
   text-transform: capitalize;
}

.artist-bar h2 {
   font-weight: 500;
   font-size: 13px;
   font-family: 'Open Sans', sans-serif;
   margin-left: 15px;
   text-transform: capitalize;
}

.genders {
   display: flex;
}

.genders-box {
   padding: 10px 20px;
      background-color: #dbdbdb;
   margin: 10px 4px 0 0;
   font-weight: 900;
   font-size: 15px;
   font-family: 'Open Sans', sans-serif;
}

.genders-box:hover {
   background-color: #cccccc;
   cursor: pointer;
}

.genders-box-active {
   background-color: #282828;
   color: white;
}

.black-bar-thick {
   width: 100%;
   border-top: 4px;
   border-color: #282828;
   border-style: solid;
   margin-bottom: 15px;
}

.img-main {
   width: 627px;
   height: 423px;
}

.thumbnails {
   display: flex;
}

.thumbnails-repeater {
   width: 58px;
   height: 48px;
   margin: 6px 6px 40px 0;
}

.thumbnails-repeater img {
   width: 100%;
   height: 100%;
   object-fit: cover;
}

.thumbnails-repeater:hover {
   cursor: pointer;
   border-width: .5px;
   border-color: #2b64bf;
   border-style: solid;
}

.thumbnails-repeater-border {
   border-width: 2px;
   border-color:#2b64bf;
   border-style: solid;
}

.bulk {
   display: flex;
}

.column {
   display: flex;
   flex-wrap: wrap;
   flex-direction: column;
}

.item-module {
   border-width: 1px;
   border-style: solid;
   border-color: black;
   width: 294px;
   margin: 0 0 10px 18px;
   padding: 8px;
}

.item-module h2{
   font-family: 'Open Sans', sans-serif;
   font-size: 14px;
   font-weight: 400;
   text-transform: capitalize;
}

.arrow {
   border-top: 1px;
   border-right: 1px;
   border-style: solid;
   border-color: black;
   width: 7px;
   height: 7px;
   transform: rotate(45deg);
}

.split {
   height: 17px;
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.size-box {
   width: 36px;
   height: 30px;
   background-color: white;
   border-radius: 4px;
   border-color: #09f;
   border-style: solid;
   border-width: 1px;
   color: #09f;
   display: flex;
   justify-content: center;
   align-items: center;
   font-family: 'Open Sans', sans-serif;
   font-size: 15px;
   font-weight: 400;
   margin-right: 8px;
}

.size-box:hover {
   background-color: #09f;
   color: white;
   cursor: pointer;
}

.sizes {
   display: flex;
   align-content: space-between;
   width: 250px;
   margin-top: 20px;
}

.add-to-cart {
   width: 100%;
   background-color: #38b449;
   text-transform: uppercase;
   color: white;
   display: flex;
   justify-content: center;
   align-items: center;
   font-family: 'Open Sans', sans-serif;
   font-weight: 900;
   height: 34px;
   border-radius: 4px;
   margin-top: 20px;
   transition: background-color .3s;
}

.add-to-cart:hover {
   background-color: #32a141;
}

.item-module h3 {
   margin-top: 14px;
   font-family: 'Open Sans', sans-serif;
   font-weight: 300;
   font-size: 11px;
}

.modular {
   display: none;
}

.modular-show {
   display: block;
}

.filled-in {
  background-color: #09f;
  color: white;
}
